:root {
  --sl-color-accent-low: #fadad4;
  --sl-color-accent: #e9664c;
  --sl-color-accent-high: #8b2511;
  --sl-text-5xl: 2.5rem;
  --sl-text-base: 1.125rem;
}

.iframely-embed {
  margin-bottom: 1.5rem;
}

article video {
  max-height: 800px;
}
